* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%;
    padding-top: 0px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#bmLogo {
    height: 60px;
    width: 60px;
    margin-top: 12px;
}

#websiteTitle {
    font-size: 10em;
    font-family: 'Pacifico', cursive;
    padding-left: 15px;
    color: white;
}

#websiteSlogan {
    font-size: 5.4em;
    color: #2E2D88
}

.jumbotron {
    text-align: left;
    background-color: #2E2D88;
    color: white;
    background-size: cover;
    padding: 2em;
}

.link {
    float: right;
    margin-right: 20px;
    margin-top: 25px;
    height: 100%;
    font-size: 3em;
    color: white;
}

span.glyphicon-align-justify {
    font-size: 3em;
}

.container {
    margin: 0 auto;
    padding: 0px;
    height: 100%;
    width: 90%;
    background: white;
}


/* Carousel Styling */

.slide {
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }

.slide1 {
    background-image: url('images/music-planning.jpeg');
    -webkit-filter: brightness(0.6);
    -moz-filter: brightness(0.6);
    -o-filter: brightness(0.6);
    -ms-filter: brightness(0.6);
    filter: brightness(0.6);
}

.slide2 {
    background-image: url('images/stage-plot.jpeg');
    -webkit-filter: brightness(0.6);
    -moz-filter: brightness(0.6);
    -o-filter: brightness(0.6);
    -ms-filter: brightness(0.6);
    filter: brightness(0.6);
}

.slide3 {
    background-image: url('images/gear.jpeg');
    -webkit-filter: brightness(0.6);
    -moz-filter: brightness(0.6);
    -o-filter: brightness(0.6);
    -ms-filter: brightness(0.6);
    filter: brightness(0.6);
}

.carousel-caption {
    color: white;
    text-shadow: 2px 1px 2px #2E2D88;
}

.carousel-caption h1 {
    font-size: 7em;
    font-family: 'Pacifico', cursive;
    padding-bottom: .4em;
}

.carousel-caption p {
    font-size: 3em;
    padding-bottom: .4em;
}

input {
    margin: 1px;
    border: 1px solid gray;
    width: 85%;
    height: 30px;
}

.btn-primary {
    background: #2E2D88
}


#signup-form {
    color: #2E2D88;
}

.help-block {
    font-size: 12px;
}

.form-group {
    margin-right: 15px;
    margin-top: 15px;
}

h5 {
    margin-top: 18px;
    font-size: 18px;
}

.manifest-options {
    font-size: 18px;
}

.modal {
    margin-top: 8%;
}

.modal-header {
    color: #2E2D88;
    text-align: center;
}

#stage-plot {
    padding: 50px;
}

#stage-plot-img {
    margin-bottom: 12px;
}

#inputFileToLoad {
    margin: auto;
    padding: 10px;
    font-size: 12px;
}

.table {
    font-size: 18px;
}

.nav-tabs {
    font-size: 18px;
}

#event-guide-form {
    margin: 50px 0 0 0;
}

label {
  font: 18px Helvetica, sans-serif;
  font-weight: bold;
  display: block;
  margin: auto;
  margin-bottom: 5px;
}

.qty-input {
  display: inline-block;
  width: 30%;
  font: 18px Helvetica, sans-serif;
  padding: 3px 0 0 0;
  text-align: center;
  margin: auto;
  vertical-align: middle;
  margin-bottom: 5px;
}

#event-guide-form div {
  overflow: hidden;
  margin: 0 0 5px 0;
}

.hide {
    display: none;
}

#manifest-list {
    margin-top: 50px;
}

.manifest-item {
    font-size: 18px;
}

#loginModalBtn {
    display: none;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    #loginDropdown {
        display: none;
    }
    #loginModalBtn {
        display: block;
    }
    #bmLogo {
        display: none;
    }
    #websiteTitle {
        font-size: 8em;
        padding-top: 10px;
    }
}

.btn-primary {
    background: #2E2D88;
    color: white;
    font-weight: bold;
    border: 1px solid white;
}

.btn-primary:hover {
    box-shadow: 2px 2px 5px black;
    background-color: #3E2D88;
}

.btn-primary:active {
    transform: translateY(1px);
}

.fooicon-plus {
    margin: 0px;
    font-size: small;
}
.editable-popup{ height: auto;}

table#stage-plot-table,
table#stage-plot-table td
{
    border: none !important;
}