* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%;
    padding-top: 0px;
    /*background-color: #2E2D88;*/
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#bmLogo {
    height: 60px;
    width: 60px;
    margin-top: 12px;
}

#websiteTitle {
    font-size: 10em;
    vertical-align: middle;
    font-family: 'Pacifico', cursive;
    padding-left: 15px;
    color: white;
}

#websiteSlogan {
    font-size: 5.4em;
    color: #2E2D88
}

.jumbotron {
    text-align: left;
    background-color: #2E2D88;
    color: white;
    background-size: cover;
    padding: 2em;
}

.link {
    float: right;
    margin-right: 20px;
    margin-top: 25px;
    height: 100%;
    font-size: 3em;
    color: white;
}

span.glyphicon-align-justify {
    font-size: 3em;
}

.container {
    margin: 0 auto;
    padding: 0px;
    height: 100%;
    width: 90%;
    background: white;
}


/* Carousel Styling */

.slide {
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }

.slide1 {
    background-image: url('images/music-planning.jpeg');
    -webkit-filter: brightness(0.6);
    -moz-filter: brightness(0.6);
    -o-filter: brightness(0.6);
    -ms-filter: brightness(0.6);
    filter: brightness(0.6);
}

.slide2 {
    background-image: url('images/stage-plot.jpeg');
    -webkit-filter: brightness(0.6);
    -moz-filter: brightness(0.6);
    -o-filter: brightness(0.6);
    -ms-filter: brightness(0.6);
    filter: brightness(0.6);
}

.slide3 {
    background-image: url('images/gear.jpeg');
    -webkit-filter: brightness(0.6);
    -moz-filter: brightness(0.6);
    -o-filter: brightness(0.6);
    -ms-filter: brightness(0.6);
    filter: brightness(0.6);
}

.carousel-caption {
    color: white;
    text-shadow: 2px 1px 2px #2E2D88;
}

.carousel-caption h1 {
    font-size: 7em;
    font-family: 'Pacifico', cursive;
    padding-bottom: .4em;
}

.carousel-caption p {
    font-size: 3em;
    padding-bottom: .4em;
}


/*
.sign-up-section {
    width: 300px;
    margin: 3% auto 0;
    padding: 10px;
    color: white;
    background-color: #2E2D88;
    height: auto;
    border-radius: 10px;
}

.sign-up-form {
    margin: 0 auto;
    margin-top: 35px;
}

input {
    margin: 1px;
    border: 1px solid gray;
    width: 85%;
    height: 30px;
}

input[type="text"] {
    padding-left: 6px;
    color: gray;
    font-size: 2.5em;
}
*/

.sign-up-button {
    margin: 10px;
    background: white;
    color: #2E2D88;
    font-weight: bold;
    border: 3px solid gray;
}

.sign-up-button:hover {
    box-shadow: 2px 2px 5px black;
}

.sign-up-button:active {
    transform: translateY(1px);
}

#signup-form {
    color: #2E2D88;
}

.help-block {
    font-size: 12px;
}

.form-group {
    margin-right: 15px;
}

.join-btn {
    background-color: #2E2D88;
    border: 1px solid white;
}

.btn-logout {
    background-color: #2E2D88;
    color: white;
}

h5 {
    margin-top: 18px;
    font-size: 18px;
}

.manifest-options {
    font-size: 18px;
}

.modal {
    margin-top: 8%;
}

.modal-header {
    color: #2E2D88;
    text-align: center;
}

#stage-plot {
    padding: 50px;
}

#stage-plot-img {
    margin-bottom: 12px;
}

#inputFileToLoad {
    margin: auto;
    padding: 10px;
    font-size: 12px;
}

.table {
    font-size: 18px;
}

.nav-tabs {
    font-size: 18px;
}

.upload-btn {
    margin: 10px;
    background: #2E2D88;
    color: white;
    font-weight: bold;
    border: 1px solid white;
}

.upload-btn:hover {
    box-shadow: 2px 2px 5px black;
    background-color: #3E2D88;
}

.upload-btn:active {
    transform: translateY(1px);
}

.add-event-btn {
    background-color: #2E2D88;
    border: 1px solid white;
}

.add-event-btn:hover {
    box-shadow: 2px 2px 5px black;
    background-color: #3E2D88;
}

.add-event-btn:active {
    transform: translateY(1px);
}

#event-guide-form {
    margin: 50px 0 0 0;
}

label {
  font: 18px Helvetica, sans-serif;
  display: block;
  float: left;
  text-align: right;
  padding: 5px 10px 0 0;
  width: 140px;
}

.sub-label {
  font: 12px Helvetica, sans-serif;
  display: block;
  float: left;
  text-align: right;
  padding: 10px 10px 0 0;
  width: 140px;
  margin-left: 10px;
  margin-top: 9px;
}

.options-input {
  float: left;
  width: auto;
  font: 18px Helvetica, sans-serif;
  padding: 3px 0 0 0;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.sub-options-input {
  text-align: left;
  padding-left: 5px;
  margin-top: 10px;
  margin-left: 26px;
}

#event-guide-form div {
  overflow: hidden;
  margin: 0 0 5px 0;
}

.up-down-btn {
  float: left;
  /*text-align: center;
  background: url(../images/buttons.png) no-repeat;*/
}
/*
.dec {
  background-position: 0 -29px;
}*/


.hide {
    display: none;
}

#manifest-list {
    margin-top: 75px;
}

.manifest-item {
    font-size: 18px;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.9;
    background: url('images/page-loader.gif') 50% 50% no-repeat rgb(249, 249, 249);
}